body{
    font-family: Arial;
    text-align: center;
    background:#f2f2f2;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    padding:20px;
}

.gallery img{
    width:100%;
    border-radius:10px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}